html {
  height: 100%;
  width: 100%;
}

.hero-img {
  background-image: url(pm-brisket.jpg);
  height: 35vh;
  background-size: cover;
}

.hero-txt {
  text-align: center;
  font-family:Tahoma, sans-serif;
  color:aliceblue;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-group {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.bbq-menu {
  color: #4f000b;
}

.about-pg h1, article {
  color: #4f000b;
}

.carousel-inner {
  height: 500px;
}

.carousel-item img {
  height: 500px;
}

footer {
  background-color: rgba(166, 0, 0, 0.8);
  color: aliceblue;
  text-align: center;
  padding: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
}